<%- include('layout/header', {title})%>


<form method="POST" action="/new">
  <input type="text" name="user" placeholder="Your name" required>
  <input type="text" name="text" placeholder="Your message" required>
  <button type="submit">Send</button>
  <button style="background-color: red;"><a href="/"> Go back</a></button>
</form>

<%- include('layout/footer', {})%>